{%
set classes = [
  'add-to-calendar',
  'modal'
]
%}
<button type="button" class="button" id="{{ id }}">{{ label }}</button>
<div{{ attributes.addClass(classes) }} data-type="add_to_cal_modal" data-target="{{ id }}" role="dialog" aria-labelledby="{{ id }}Label">
  <a href="{{ google }}" target="_blank">Google</a> <a href="{{ ical }}" download="event.ics">Outlook</a> <a href="{{ ical }}" download="event.ics">iCal</a>
</div>
