{%
set classes = [
  'add-to-calendar'
]
%}
<span{{attributes.addClass(classes)}}>
  {% if label %}<label class="addtocal__label">{{ label }}</label>:{% endif %}
  <a href="{{ google }}" target="_blank">Google</a> <a href="{{ ical }}" download="event.ics">Outlook</a> <a href="{{ ical }}" download="event.ics">iCal</a>
</span>
