{#
/**
 * @file
 * Bartik theme override for taxonomy term fields.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the label.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set view_mode = element['#view_mode'] %}
{% if view_mode == 'reference_list' or view_mode == 'list' %}
  {% if items|length > 1 %}
    <em>
      <details open>
        <summary>{{ 'Event Dates'|t }}</summary>
        <div class="details-wrapper">
          <ul>
            {% for item in items %}
              <li>
                {{ item.content }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    </em>
  {% else %}
    {% for item in items %}
      <em>{{ item.content }}</em>
    {% endfor %}
  {% endif %}
{% else %}

  {% set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'clearfix',
    'card',
    'mt-2',
  ] %}
  {% set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ] %}

  {% if (formatter == 'smartdate_recurring' and showRecurring) or (formatter == 'addtocal_view' and showEventDate) %}
    <div{{ attributes.addClass(classes) }}>
      {% if not label_hidden %}
        {% if formatter == 'smartdate_recurring' %}
          <div class="card-header m-0 font-weight-bold">Event Date (Recurring)</div>
        {% else %}
          <div class="card-header m-0 font-weight-bold">{{ label }}</div>
        {% endif %}
      {% endif %}
      <div class="card-body py-1 display-grid">
        {% for item in items %}
          {% if (item.recurring and formatter == 'smartdate_recurring') or (not item.recurring and formatter == 'addtocal_view') %}
            <p{{ item.attributes }}>{{ item.content }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}
