{#
/**
 * @file
 * USWDS theme implementation to display a single page.
 */
#}



<div class="usa-overlay"></div>

<header class="epa-header" role="banner">
<a href="https://workplace.epa.gov">
<img src="https://workplace.epa.gov/css/i/bg-logo.png" alt="OneEPA Workplace logo">
</a>
</header>

<main class="usa-section">
    <div class="{{ main_class }}">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                {{ page.highlighted }}

                {% if page.help|render|trim %}
                    <div class="usa-alert usa-alert--info">
                        <div class="usa-alert__body">
                            <p class="usa-alert__text">
                                {{ page.help }}
                            </p>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="grid-row grid-gap">

            {% if page.sidebar_first %}
                <aside class="tablet:grid-col-3">
                    {{ page.sidebar_first }}
                </aside>
            {% endif %}

            <div class="region-content {{ content_class }}">
                {{ page.content }}
            </div>

            {% if page.sidebar_second %}
                <aside class="tablet:grid-col-3">
                    {{ page.sidebar_second }}
                </aside>
            {% endif %}

        </div>
    </div>

</main>

<footer class="{{ footer_classes }}" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top">
        <a href="#">Return to top</a>
    </div>

</footer>
