{% block paragraph %}
    <div{{ attributes }}>
        {% block content %}
            <div class="grid-container">
                <div class="usa-hero__callout">
                    <h1 class="usa-hero__heading">
                    <span class="usa-hero__heading--alt">
                    {{ content.field_uswds_hero_heading_alt|field_value }}
                    </span>
                    {{ content.field_uswds_title|field_value }}</h1>
                    <p>  {{ content.field_uswds_hero_body|field_value }}</p>
                            {% if content.field_uswds_button|render is not empty %}

<a class="usa-button"
       href="{{ content.field_uswds_button[0]['#url'] }}">{{ content.field_uswds_button[0]['#title'] }}</a>
       {% endif %}
                </div>
            </div>

        {% endblock %}
    </div>
{% endblock paragraph %}