{%
    set classes = [
    'taxonomy-term',
    'vocabulary-' ~ term.bundle|clean_class,
]
%}
{# To display the mass mailer categories title, uncomment the section below #}
<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
    {{ title_prefix }}
    {% if name and not page %}
      {# <h2>{{ name }}</h2> #}
    {% endif %}
    {{ title_suffix }}
    <div class="content">
      <div class="mailer-banner-container">
        {{ content.field_banner }}
        <div class="mailer-banner-text">
          {{ content.field_banner_text }}
        </div>
      </div>

    </div>
</div>
