
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}



{{ attach_library('classy/node') }}

<article{{attributes.addClass(classes)}}>

  {{ title_prefix }}
	{% if label and not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer class="node__meta">
			{{ author_picture }}
			<div{{author_attributes.addClass('node__submitted')}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

  {% if 'Rescinded' in content.field_rescind_this_form[0] %}
    <div class="usa-alert usa-alert-normalizer usa-alert--error">
    <div class="usa-alert__body">
    <p class="usa-alert__heading">This Form has been Rescinded</p>
    <p class="usa-alert__text">{{ content.field_rescission_date }}
    </div>
    </div>
  {% endif %}

	<div{{ content_attributes.addClass('node__content') }}>

    {{ content }}
  </div>

	
	</article>
